
.container {
  display: flex;
  justify-content: center;
  height: 90svh;
   align-items: center;
   background:snow;
   
}

.cardContainer {
  height: 80vh;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 80vw;
  background-color: white;
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
}

.cardContainer_Left {
 
 flex:0.6;
 padding: 2rem;
 text-align: center;
}


.cardleft_hadding{
  font-size: 1.8rem;
  font-weight: bold;
 
}


.inputField{
 padding-inline: 1rem;
 padding-block: 0.8rem;
 outline: none;
 border-radius: 10px;
 border: 1px solid #cd8987;
 width: 100%;
 max-width: 400px;
 margin: 0 auto;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  max-width: 400px;
  margin: 0 auto;
  gap: 1rem;
}
.inputRow{
  display: flex;
  gap: 1rem;
}

.buttonwithoutline{
padding:0.8rem 1.3rem;
background-color:rgb(236,236,236);
width: 100%;
border-radius: 10px;
cursor: pointer;

}


.cardContainer_Right{
  flex:0.4;
  background-color: #cd8987;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  paddinginline: 1rem;
}

.buttonwithline{
  align-self: center;
  padding:0.8rem 1.3rem;
  background-color:rgb(236,236,236);
  width: 14vh;
  border-radius: 10px;
  cursor: pointer;
  color:black;
 
}



